config THERMAL_IMX
	bool "Enable thermal_imx driver"
	depends on HAS_THERMAL
	help
	  Enable thermal_imx driver. This driver implements thermal
	  throttling functionality for i.MX8 boards. It uses scfw rpc
	  to access hardware resoucers.
